<div class="jumbotron">
    <h1 class="display-4">Today's Menu:
    <img id="titleImg" src="./assets/img/burgerImage.png" alt='burger image'
        style="width:128px;height:128px;">
    </h1>
</div>
<div class="container">
    <div id="titles" class="row">
        {{!-- Column titles --}}
        <div class="col-md-6">
            <h2>Burgers ready to be devoured!</h2>    
        </div>
        <div class="col-md-6">
            <h2>Burgers destroyed! Yum.</h2>
        </div>
    </div>
    <div id="allBurgers" class="row">
        {{!-- <div class="col md-1"></div> --}}
        <div id="readyToEat" class="col md-6 well h-75 d-inline-block">
            {{!-- Code to sort burgers readyToEat only has not devoured burgers --}}
            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                {{!-- Sends the burger to burger-block partial --}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
            </ul>
        </div>
        <div id="eaten" class="col md-6 well h-75 d-inline-block">
            {{!-- Eaten burgers have devoured=true --}}
            <ul>
            {{#each burgers}}
                {{#if devoured}}
                {{!-- Sends the burger to burger-block partial --}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
            </ul>
        </div>
        {{!-- <div class="col md-6"></div> --}}
    </div>
    
</div>
<div class="row">
    {{!-- Newburger div (footer) holds button and text box to enter a new burger --}}
        <div id="newBurger" class="col-md-12 navbar fixed-bottom">
            <h3>Add a new burger to the menu:</h3>
            <form class="create-form form-horizontal align-right">

                <span class="form-group">
                    <label for="burger">New Burger:</label>
                    <input type="text" id="burger" name="name">
                </span>

                <button type="submit" class="btn-sm">Add Burger</button>
                </form>
                <button id="resetBtn" class="btn-sm">Reset</button>
            
        </div>
    </div>