li {
    padding: 5px;
    margin: 5px;
    background: #4171d8;
    list-style-type: none;
    color : white;
}
  
  .label {
    font-weight: bold;
  }
  
  /* .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  } */
  
  .form-group {
    margin: 0px 10px;
  }

  