<li>
	<h5>
		{{burger_name}}	
	
	<button class="change-devoured float-right btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		
			{{#if devoured}}Eat the Burger!
				<i class="material-icons">fastfood</i>
			{{else}}<i id='icon' class="material-icons">undo</i>
			{{/if}}
		
	</button>
	</h5>
</li>